<section class="detail-info">
  <div class="container">
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-two-thirds content container">
        <p>
          <span class="text-shadow title is-2 is-bold has-text-grey-lighter">
            {{event.name}}
          </span>
          <!---->
        </p>
        <p class="text-shadow subtitle is-3 has-text-grey-lighter">
          Description:
        </p>
        <p class="text-shadow subtitle is-5 has-text-grey-lighter">
          {{event.description}}
        </p>
        <p class="text-shadow subtitle has-text-grey-lighter">
          Date:
          <span class="has-text-grey-lighter is-size-6">
            <time datetime="2016-1-1">{{event.formattedDate}}</time>
          </span>
        </p>
        <p class="text-shadow is-5">
          Created by
          <a class="has-text-success" href="/users/{{event.owner._id}}">{{event.owner.username}}</a>
        </p>
        <p class="text-shadow subtitle has-text-grey-lighter">Who is coming:</p>
        <p>  
          {{#each event.attendants}}
          <a class="has-text-grey-lighter" href="/users/{{this._id}}">{{this.username}}</a>, 
          {{/each}}
        </p>
      </div>

      <div class="column is-4">
        <div class="field is-grouped detail-btn container">
          {{#if buttonPermission}}
          <p class="control">
            {{!-- <a href="#" class="button is-light">
              Edit
            </a> --}}
          </p>
          <p class="control">
            <form method="POST" action="{{event._id}}/delete">
              <button class="button is-light">Delete</button>
            </form>
          </p>
          {{else}} {{#if joinedEvent}}
          <p class="control">
            <form method="POST" action="{{event._id}}/unjoin">
              <button class="button is-danger">Unjoin</button>
            </form>
          </p>
          {{else}}
          <p class="control">
            <form method="POST" action="{{event._id}}/join">
              <button class="button is-danger">Join</button>
            </form>
          </p>
          {{/if}} {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="box has-text-centered container">
    <div id="map"></div>
  </div>
</section>