<section class="detail-info">
  <div class="container">
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-two-thirds content container">
        <p class="has-text-dark">
          <span class="title is-bold">
            {{event.name}}
          </span>
          <!---->
        </p>
        <p class="subtitle">
          Description: 
        </p>
        <p class="has-text-white">
          {{event.description}}
        </p>
        <p class="subtitle">
          Date:
          <span class="has-text-white is-size-6">
            <time datetime="2016-1-1">{{event.date}}</time>
          </span>
        </p>
        <p>
          Created by
          <a class="has-text-dark" href="/users/{{event.owner._id}}">{{event.owner.username}}</a>
        </p>

      </div>
      <div class="column is-4">
        <div class="field is-grouped detail-btn container">
          {{#unless buttonPermission}}
            {{#if joinedEvent}}
              <p class="control">
                <form method="POST" action="{{event._id}}/unjoin">
                  <button class="button is-danger">Unjoin</button>
                </form>
              </p>
            {{else}}
              <p class="control">
                <form method="POST" action="{{event._id}}/join">
                  <button class="button is-danger">Join</button>
                </form>
              </p>
            {{/if}}             
          {{/unless}}
          <p class="control">
            <a href="#" class="button is-dark">
              Edit
            </a>
          </p>
          {{#if buttonPermission}}
          <p class="control">
            <form method="POST" action="{{event._id}}/delete">
              <button class="button is-dark">Delete</button>
            </form>
          </p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="box has-text-centered container">
    Here goes the map
    <div id="map"></div>
  </div>
</section>